.dashboard-buttons {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.dashboard-buttons button {
    margin-bottom: 1em;
    padding: 0.8em 1.5em;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: var(--button-color);
    color: white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.dashboard-buttons button:hover {
    background-color: var(--button-color-hover);
}
