.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.search-input {
    display: flex;
    gap: 1.5em;
    color: #000;
    width: 100%;
}

.search-input input {
    flex: 1;
    padding: 0.8em;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
}

.save-button .btn {
    text-align: center;
    padding: 0.8em 3em;
}

.qr-code-scanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5em;
    width: 100%;
}

.qr-code-scanner button {
    padding: 0.5em;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: var(--button-color);
    color: white;
    cursor: pointer;
    margin-bottom: 1em;
    transition: background-color 0.3s ease;
}

.selection-fields {
    display: flex;
    gap: 2em;
    color: #000;
    width: 100%;
    /* align-items: center; */
}

.selection-fields .conditions-dropdown,
.selection-fields .warehouse-dropdown {
    display: flex;
    flex: 1;
}

.search-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.search-results ul {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    list-style: none;
    width: 100%;
}

.search-results li {
    display: flex;
    border: 1px solid #fff;
    border-radius: 0.5em;
    justify-content: space-between;
    padding: 0.5em;
    text-align: left;
    font-size: 0.8em;
}

.search-results li p:last-of-type {
    font-weight: bold;
    color: var(--color-pepsi-red);
}

@media (max-width: 600px) {
    .search-input {
        flex-direction: column;
    }

    .search-results li {
        flex-direction: column;
    }

    .selection-fields {
        flex-direction: column;
    }

    .save-button {
        display: flex;
        width: 100%;
    }

    .save-button .btn {
        width: 100%;
    }
}