.options-container {
    display: flex;
    justify-content: center;
    width: 80%;
    gap: 2em;
}

.options-container .section {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    flex: 1 0 50%;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 1em;
    justify-content: space-between;
}

.options-container .section .data {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 100%;
    padding-bottom: 1em;
}

.options-container .section li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1em;
    border: 1px solid #fff;
    border-radius: 5px;
}

.options-container h2 {
    font-size: 1.5em;
}

.options-container input {
    color: black;
    border-radius: 5px;
    padding: 0.8em;
}

.options-container .add-data {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.options-container button:hover {
    background-color: var(--button-color-hover);
}

.options-container .delete-icon {
    color: var(--color-pepsi-red);
}