.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /*background-color: #f4f4f4;*/
}

h1 {
  font-size: 2em;
  margin-bottom: 1.5em;
}

.form-group {
  margin-bottom: 1em;
  width: 100%;
  max-width: 300px;
}

label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 0.8em;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #000;
}

.login-button {
  width: 100%;
  max-width: 300px;
  padding: 0.8em;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: #0070f3;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 2em;
}

.login-button:hover {
  background-color: #005bb5;
}

.register-link {
  margin-top: 1em;
  font-size: 0.9em;
}

.register-link a {
  color: #0070f3;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  margin-bottom: 1em;
}

.password-container {
  position: relative;
  width: 100%;
}

.password-input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  box-sizing: border-box;
}

.password-toggle-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #0070f3;
  font-size: 1.5em;
}
